/* body {
  background-color: maroon;
} */

/* ------------ MAIN PAGE ------------ */
/* .game-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-info-header h2 {
position: relative;
}

.get-game-info-btn {
  position: absolute;
  right: 5px;
} */

.boxscore-container {
  margin: auto;
}

.boxscore-container button {
  margin: 0 0 0.5rem;
}

.boxscore-container th {
  padding: 5px;
}

/* ------------ GAME DETAILS ------------ */
/* nothing atm */

/* ------------ BOXSCORE ------------ */
.boxscore-table {
  margin: auto;
}

/* ------------ STARTING LINEUPS ------------ */
.lineup-card {
  display: flex;
  justify-content: space-between;
}

.starting-lineup-table {
  margin: auto;
}

/* ------------ PLAY-BY-PLAY RECAP ------------ */
.inning-whole {
  background-color: salmon;
  border: 1px solid black;
  margin: 1rem auto;
}

.inning-number {
  text-align: left;
  display: block;
}

.recap-halfs-container-flex {
  display: flex;
  justify-content: space-between;
}

.inning-half-flex {
  background-color: gray;
  color: white;
  text-align: left;
  width: 50%;
}
.inning-half {
  background-color: gray;
  color: white;
  text-align: left;
}

.inning-top-or-bottom {
  text-align: left;
}

.recap-event:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ------------ SCORECARD TABLE ------------ */
.scorecard-container {
  /* this is the scorecard component on gameinfo page */
  /* display: grid; */
  border: green 1px solid;
}

.fullscorecard-container {
  display: grid;
  grid-template-areas:
    "columnHeader"
    /* "columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader columnHeader" */
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . .";
  /* gap: 10px; */
  background-color: dodgerblue;
  /* padding: 10px; */
  margin: auto;
}

.fullscorecard-column-header-container {
  grid-area: columnHeader;
  /* background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center; */
  /* margin: auto; */
}

/* .fullscorecard-container > .fullscorecard-column-header { */
.fullscorecard-column-header {
  /* grid-area: columnHeader; */
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  /* margin: auto; */
}

.full-scorecard-row {
  /* scorecard columnHeader */
  /* display: grid; */
  margin: auto;
    /* grid-area: columnHeader; */
}
.fullscorecard-column-header {
  /* scorecard columnHeader */
  /* display: grid; */
  margin: auto;
}

.scorecard-container div {
  margin: 0 3px;
}

.scorecard-container div p {
  margin: 0.25rem;
}
.scorecard-cell {
  color: white;
  /* flex-wrap:wrap; */
  /* flex-direction: column; */
}

.scoring-cell {
  background-color: pink;
  position: relative;
  width: 70px;
  height: 80px;
}
.scoring-cell:hover {
  cursor: pointer;
  text-decoration: underline;
}

.empty-cell {
  background-color: darkkhaki;
}
.empty-cell:hover {
  cursor: not-allowed;
}

.diamond {
  position: relative;
  top: 2px;
  left: 5px;
  height: 50px;
  width: 50px;
  background-color: #555;
  /* transform: rotate(45deg); */
}

.scoring-diamond {
  display: block;
}

.non-scoring-diamond {
  opacity: 0.35;
}

.out-indicator {
  border: 1px solid black;
  position: absolute;
  right: -4px;
  bottom: 1px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.final-out-indicator {
  height: 1px;
  width: 40px;
  background: black;
  position: absolute;
  right: -10px;
  bottom: -5px;
  transform: rotate(-45deg);
}

/* ------------ PITCHING RECORDS ------------ */
.pitching-records table {
  margin: auto;
}

/* ------------ MISCELLANEOUS ------------ */

.player-columns-categories th {
  height: 1.3rem;
}

.batting-lineups tr:nth-child(odd) {
  background-color: pink;
}

.batting-lineups tr:nth-child(even) {
  background-color: goldenrod;
}

table,
th,
td,
tr {
  border: solid black 1px;
}

.scorecard-inning-header {
  width: 3rem;
}
