/* body {
  background-color: maroon;
} */

.boxscore-container {
  margin: auto;
}

.boxscore-container button {
  margin: 0 0 0.5rem;
}

.boxscore-container th {
  padding: 5px;
}

.boxscore-table,
.starting-lineup-table {
  margin: auto;
}

.recap-event:hover, .scoring-cell:hover {
  cursor: pointer;
  text-decoration: underline;
}

.empty-cell:hover {
  cursor: not-allowed;
}

/* .game-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* .game-info-header h2 {
position: relative;
}

.get-game-info-btn {
  position: absolute;
  right: 5px;
} */

.lineup-card {
  display: flex;
  justify-content: space-between;
}

.inning-whole {
  background-color: salmon;
  border: 1px solid black;
  margin: 1rem auto;
}
.inning-number {
  text-align: left;
}

.inning-top {
  background-color: gray;
  /* color: white; */
  text-align: left;
}

.inning-bottom {
  background-color: teal;
  text-align: left;
}
.inning-top-or-bottom {
  text-align: left;
}
.scorecards-dion {
  display: flex;
  justify-content: space-around;
}

/* .scorecards {
  display: flex;
} */

.scorecard {
  display: flex;
}

.scorecard table {
  margin: auto;
}

.scorecard td {
  margin: 0 3px;
}

.scorecard td p {
  margin: 0.25rem;
}

.player-columns-categories th {
  height: 1.3rem;
}

.batting-lineups tr:nth-child(odd) {
  background-color: pink;
}

.batting-lineups tr:nth-child(even) {
  background-color: goldenrod;
}

table,
th,
td,
tr {
  border: solid black 1px;
}

.scorecard-cell {
  color: white;
}

.scoring-cell {
  background-color: pink;
}

.empty-cell {
  background-color: darkkhaki;
}

.scorecard-inning-header {
  width: 3rem;
}

.pitching-records table {
  margin: auto;
}
