.game {
  color: "red";
  border: 1px solid black;
  width: 25%;
  height: 4rem;
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-boxscore {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25%;
}

.team-boxscore div {
  /* text-decoration: line-through ; */
  /* height: 2rem */
  /* overflow: hidden; */
}

.logo {
  width: 35px;
}

.date {
  font-style:italic;
}
.date-unnecessary {
  font-style:italic;
  text-decoration: line-through;
}
.game-info {
  width: 20%
}

.game-info-unnecessary:hover {
  width: 20%;
  color: red;
  cursor:not-allowed
}