.scorecard {
  display: flex;
  justify-content: center;
}

.scorecard table{
  /* color: blue */
}

.scorecard-inning-header {
  width: 3rem;
}

.scorecard-cell {
  color:white;
}

.scoring-cell {
  background-color: pink;
}

.empty-cell {
  background-color: darkkhaki;
}