.App {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.game-summary {
  color: "red",
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
